<div class="d-flex justify-content-center">
  <h1>Gestor AutoMarket</h1>
</div>
<div class="container">
  <nav class="navbar navbar-expand-sm bg-light navbar-dark">
    <ul class="navbar-nav">
      <li class="navbar-item"><button routerLink="repuestos" 
        class="m-1 btn btn-light btn-outline-primary" Button>Repuestos</button></li>
      <li class="navbar-item"><button routerLink="sedes" 
        class="m-1 btn btn-light btn-outline-primary" Button>Sedes</button></li>
      <li class="navbar-item"><button routerLink="modelos" 
        class="m-1 btn btn-light btn-outline-primary" Button>Modelos</button></li>
    </ul>
  </nav>
</div>
<router-outlet></router-outlet>